.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  padding-bottom: 60px;
}

.not-found__error-code {
  text-align: center;
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 246px 0 0;
}

.not-found__error-name {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 5px 0 0;
}

.not-found__link {
  color: #FF6838;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 184px 0 0;
  text-decoration: none;
}

.not-found__link:hover {
  opacity: 0.7;
  transition: opacity 0.4s linear;
}

@media screen and (max-width: 768px) {
  .not-found {
    padding-bottom: 222px;
  }

  .not-found__error-code {
    margin: 408px 0 0;
  }
}

@media screen and (max-width: 500px) {
  .not-found {
    padding-bottom: 30px;
  }

  .not-found__error-code {
    margin: 329px 0 0;
  }

  .not-found__error-name {
    font-size: 12px;
    margin: 10px 0 0;
  }

  .not-found__link {
    font-size: 12px;
    margin: 284px 0 0;
  }
}